# /home/uri-home-x1/PycharmProjects/OMCB/back/.dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.idea/
.pytest_cache/
.git
.gitignore
.venv
venv
*.egg-info
.mypy_cache
pycache
.logfire
.python-version
README.md
uv.lock
pyproject.toml

